
!Software Version V500R005C10SPC300
!Last configuration was saved at 2026-07-03 01:52:17 UTC
#
sysname ZB-FW1
#
 l2tp domain suffix-separator @
#
undo info-center enable
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
clock timezone UTC add 00:00:00
#
 hrp enable
 hrp interface GigabitEthernet1/0/6 remote 192.168.66.2
#
 update schedule location-sdb weekly Sun 05:01
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 01:33
 update schedule av-sdb daily 01:33
 update schedule sa-sdb daily 01:33
 update schedule cnc daily 01:33
 update schedule file-reputation daily 01:33
#
ip vpn-instance default
 ipv4-family
#
ip address-set ZB type group
 address 0 192.168.10.0 mask 24
 address 1 192.168.20.0 mask 24
 address 2 192.168.30.0 mask 24
 address 3 192.168.40.0 mask 24
 address 4 192.168.50.0 mask 24
 address 5 192.168.60.0 mask 24
 address 6 192.168.70.0 mask 24
 address 7 192.168.80.0 mask 24
 address 8 192.168.100.0 mask 24
 address 9 192.168.101.0 mask 24
 address 10 192.168.200.0 mask 24
 address 11 192.168.0.0 mask 24
 address 12 192.168.103.0 mask 24
#
ip address-set FB type group
 address 0 192.168.90.0 mask 24
 address 1 192.168.102.0 mask 24
 address 3 192.168.104.0 mask 24
 address 4 192.168.105.0 mask 24
 address 5 192.168.0.0 mask 24
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
acl number 3000
 rule 5 permit ip source address-set ZB destination address-set FB 
 rule 10 permit ip source 192.168.0.1 0 destination 192.168.0.2 0 
#
ipsec proposal prop26615581769
 encapsulation-mode auto
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
ike proposal 1
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
ike peer ike266155817698
 exchange-mode auto
 pre-shared-key %^%#lZB*DmHP!%2cOLWAGC{&@sb33oCR#GO(;7;9LTt+%^%#
 ike-proposal 1
 remote-id-type none
 dpd type periodic
 remote-address 202.113.111.18 
#
ipsec policy ipsec2661558174 1 isakmp
 security acl 3000
 ike-peer ike266155817698
 proposal prop26615581769
 tunnel local 202.113.110.20
 alias 总部分部VPN 
 sa trigger-mode auto
 sa duration traffic-based 10485760
 sa duration time-based 3600
#
ip pool ZB
 section 0 192.168.10.24
 section 1 192.168.20.24
 section 2 192.168.30.24
 section 3 192.168.40.24
 section 4 192.168.50.24
 section 5 192.168.60.24
 section 6 192.168.70.24
 section 7 192.168.80.24
 section 8 192.168.100.24
 section 9 192.168.101.24
 section 10 192.168.200.24
# 
ip pool FB
 section 0 192.168.90.24
 section 1 192.168.102.24
 section 2 192.168.103.24
 section 3 192.168.104.24
 section 4 192.168.105.24
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%RXPl0!/_,VY_N=WN,,ZXeKf^Eh(n3jTkH>Z7JWTsb|C2Kfae@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%#arVTH0m1Q1USECH@1J#vXw:RG/ZOf{mU3m^&kO_oaSVXw=v@%@%
  level 15 

 manager-user admin 
  password cipher @%@%<6c%+CHP]V"f3".W:*O49rsqe,TE+@$fJ#b(+A71#NyTrst9@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.79.2 255.255.255.0
 alias GE0/METH
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/0
 undo shutdown
 ip address 192.168.103.1 255.255.255.0
 vrrp vrid 103 virtual-ip 192.168.103.5 active
 ospf timer hello 4
 service-manage ping permit
#
interface GigabitEthernet1/0/1
 undo shutdown
 ip address 202.113.110.18 255.255.255.248
 vrrp vrid 110 virtual-ip 202.113.110.20 active
 service-manage ping permit
 ipsec policy ipsec2661558174
#
interface GigabitEthernet1/0/2
 undo shutdown
#
interface GigabitEthernet1/0/3
 undo shutdown
#
interface GigabitEthernet1/0/4
 undo shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
#
interface GigabitEthernet1/0/6
 undo shutdown
 ip address 192.168.66.1 255.255.255.0
#
interface Virtual-if0
#
interface NULL0
#
interface LoopBack0
 ip address 9.9.9.9 255.255.255.255
#
interface Tunnel0
 ip address 192.168.0.1 255.255.255.0
 tunnel-protocol gre
 source 202.113.110.20
 destination 202.113.111.18
 ospf timer hello 4
 alias ZBtoFBGRE
 undo service-manage enable
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/0
 add interface GigabitEthernet1/0/6
 add interface Tunnel0
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet1/0/1
#
firewall zone dmz
 set priority 50
#
ospf 1 router-id 9.9.9.9
 default-route-advertise
 area 0.0.0.0
  authentication-mode simple plain 123456
  network 9.9.9.9 0.0.0.0
  network 192.168.0.0 0.0.0.255
  network 192.168.66.0 0.0.0.255
  network 192.168.79.0 0.0.0.255
  network 192.168.103.0 0.0.0.255
#
ip route-static 0.0.0.0 0.0.0.0 GigabitEthernet1/0/1 202.113.110.17
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
 nat server HTTP protocol tcp global 202.113.110.22 8080 inside 10.1.106.100 www no-reverse unr-route
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
nat address-group 访问公网地址池 0
 mode pat
 section 0 202.113.110.18 202.113.110.18
 section 1 202.113.110.19 202.113.110.19
 section 2 202.113.110.20 202.113.110.20
 section 3 202.113.110.21 202.113.110.21
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 default action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
 rule name 内网访问公网NAT
  source-zone trust
  destination-zone untrust
  action source-nat address-group 访问公网地址池
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return  